<nav class="navbar">
    <div class="logo">
        <a href="{{path('app_home')}}"><img src="assets/image/logo.png" alt="logo" width="200px"></a>
    </div>
    <div class="nav-links">
        <a href="{{path('app_home')}}" class="item">Accueil</a>
        <a href="{{path('app_jeux')}}" class="item">Jeux</a>
        <a href="{{path('app_consoles')}}" class="item">Consoles</a>
        <a href="{{path('app_statistiques')}}" class="item">Statistiques</a>
    </div>

    <div class="btns">
    {% if app.user is null %}
        <div class="btn">
            <a href="{{path('app_login')}}" class="item">Connexion</a>
        </div>
        <div class="btn">
            <a href="{{path('app_register')}}" class="item">Inscription</a>   
        </div>
    {% endif %}
    
    {% if app.user %}
         <div class="btn">
            <a href="{{path('app_logout')}}" class="item">Deconnexion</a>   
        </div>
    {% endif %}
    </div>
</nav>